<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Apartamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <h3>Agregar Apartamento</h3>
    <div class="container">
    <form action="{{request.path}}" method="post">

        <label for="direccion">Dirección</label><input class="form-control" type="text" name="direccion"/>
        <label for="area">Área Constuida</label><input class="form-control" type="text" name="area"/>
        <label for="edad">Edad de Constucción</label><input class="form-control" type="text" name="edad"/>
        <label for="parqueaderos">No. de Parqueaderos</label><input class="form-control" type="text" name="parqueaderos"/>
        <label for="valor">Valor del apartamento</label><input class="form-control" type="text" name="valor"/>
        <label for="telefono">Teléfono</label><input class="form-control" type="text" name="telefono"/>
        <label for="propietario">Nombre del Propietario</label><input class="form-control" type="text" name="propietario"/>
        <label for="observaciones">Observaciones</label><input class="form-control" type="text" name="observaciones"/>

        <input type="submit" value="Agregar" class="btn btn-primary"/>

    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>